<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- assign page_paths = site.header_pages -%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/mcclatchy-southeast/security_for_sale">Data</a>
        </li>
        <li class="nav-item dropdown">
          <!-- NOTE: newer versions of boostrap use data-bs-toggle instead of data-toggle -->
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tutorials</a>
          <div class="dropdown-menu">
            <a class="dropdown-item disabled" >Beginner</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/_pages/bg_setting_up_r.html">Setting up</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/_pages/bg_clean_owners.html">Clean owner names</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/_pages/bg_matching_owners.html">Matching owner names</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" >Intermediate</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" >Advanced</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <!-- NOTE: newer versions of boostrap use data-bs-toggle instead of data-toggle -->
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ site.baseurl }}/_pages/keyboard_shortcuts.html">R shortcuts</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ site.baseurl }}/_pages/reading_list.html">SFR reading list</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/_pages/glossary.html">SFR glossary</a>
          </div>
        </li>
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li class="nav-item">
            <a class="nav-link {% if page.url == my_page.url %}active{% endif %}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
          {%- endif -%}
        {% endfor -%}
      </ul>
    </div>
  </div>
</nav>
